.color-green-100 {
    background-color: #72da8c46!important;
}

.color-green-200 {
    background-color: #68cf829f!important;
}

.color-green-300 {
    background-color: #3eb95dde!important;
}

.color-green-400 {
    background-color: #2fb150!important;
}